{% extends '/main/base.html.twig' %}

{% block body %}
<div class="home_greeting">
    Welcome to our Page  💗
</div>

<div class="home_img">
    <img src="{{ asset('pictures/home/hp_hanji.png')}}">
    <img src="{{ asset('pictures/home/hp_umaru.png')}}">
    <img src="{{ asset('pictures/home/hp_chika.png')}}">
    <img src="{{ asset('pictures/home/hp_hatsune_miku.png')}}">
</div>



{% endblock %}