{% extends '/main/base.html.twig' %}

{% block title %}Shipment{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 3rem; width: 60rem">
        <div class="card product" style="color:#D4ADFC">
            <div class="card-body">
                <h1>Edit Product</h1>

                {{form(form)}}
            </div>

        </div>

    </div>
    
{% endblock %}