{% extends '/main/base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

{% set flashbag_notices = app.session.flashBag.get('notice') %}
{% for message in flashbag_notices %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

{% set login_flashbag_notices = app.session.flashBag.get('success')%}
{% for message in login_flashbag_notices %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<div class="container-fluid">
    {% include 'ProductPage/card.html.twig' %}
</div>

{% endblock %}
