.content_header{
	background-color: blueviolet;
}

.companyAddressField{
	background-color: blueviolet;
	font-size: xx-large;
}

*{
    color: #D4ADFC;
}

body{
    background-color: #1D267D;
}

.navigation{
    background-color: #0C134F;
    
}
.navigation, a{
    color: #D4ADFC;
    text-decoration: none;
}

.product{
    background-color: #0C134F;
}
