.content_header{
	background-color: blueviolet;
}

.companyAddressField{
	background-color: blueviolet;
	font-size: xx-large;
}

*{
    color: #D4ADFC;
}

body{
    background-color: #1D267D;
}

.title{
    color: #D4ADFC;
    font-size: 3rem;
    
}

.navigation{
    background-color: #0C134F;
    
}
.navigation, a{
    color: #D4ADFC;
    text-decoration: none;
}

.product{
    background-color: #0C134F;
}


.home_greeting{
    display: flex;
    justify-content: center;
    font-size: 6rem;
}
.home_img{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.home_img img{
    height: 300px;
    width: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #0C134F;
  }